@using BeSpokedBikes.ViewModels
@model SalesViewModel

<h1>Sales</h1>

<form method="get" style="margin-bottom: 25px;">
    <div>
        <label for="StartDate">Start Date:</label>
        <input type="date" id="StartDate" name="startDate" value="@Model.StartDate?.ToString("yyyy-MM-dd")" style="margin-right: 25px;" />
        <label for="EndDate">End Date:</label>
        <input type="date" id="EndDate" name="endDate" value="@Model.EndDate?.ToString("yyyy-MM-dd")" style="margin-right: 15px;" />
        <button type="submit" style="margin-right: 30px;">Filter</button>
        <a asp-action="Create">Create New</a>
    </div>
    
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Product
            </th>
            <th>
                Sales Person
            </th>
            <th>
                Customer
            </th>
            <th>
                Sales Date
            </th>
            <th>
                Price
            </th>
            <th>
                Commission
            </th>
            <th>
                Discount %
            </th>
            <th>
                Discount Price
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Sales)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SalesPerson)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer)
                </td>
                <td>
                    @item.SalesDate.ToShortDateString()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SalesPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Commission)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiscountPercentage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiscountPrice)
                </td>
            </tr>
        }
    </tbody>
</table>
