@using BeSpokedBikes.ViewModels
@model SalesViewModel

<h1>Sales</h1>

<form method="get">
    <div>
        <label for="StartDate">Start Date:</label>
        <input type="date" id="StartDate" name="startDate" value="@Model.StartDate?.ToString("yyyy-MM-dd")" />
        <label for="EndDate">End Date:</label>
        <input type="date" id="EndDate" name="endDate" value="@Model.EndDate?.ToString("yyyy-MM-dd")" />
        <button type="submit">Filter</button>
    </div>
    
</form>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Product
            </th>
            <th>
                SalesPerson
            </th>
            <th>
                Customer
            </th>
            <th>
                SalesDate
            </th>
            <th>
                Price
            </th>
            <th>
                Commission
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Sales)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SalesPerson)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SalesDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SalesPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Commission)
                </td>
            </tr>
        }
    </tbody>
</table>
